body {
    font-family: 'Montserrat', sans-serif;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.wrapper {
    background-color: #f9f9f9;
}

.container {
    width: 1174px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.header__menu {
    display: flex;
    flex-direction: column;
}

.logo__link {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 22px;
}

.menu__top-inner {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu-basket {
    position: relative;
}

.basket-dropdown {
    position: absolute;
    width: 943px;
    background-color: #fffffff8;
    transform: translate(-80%);
    padding: 30px 35px;
    z-index: 5;
    display: none;
}

.basket-dropdown__top {
    display: flex;
    border-bottom: 1px solid #afafaf;
}

.basket-dropdown__title {
    font-size: 19px;
    line-height: 33px;
    color: #003361;
    font-weight: 700;
    border-bottom: solid 3px #003361;
    display: inline-block;
    margin-bottom: 0;
}

.basket-dropdown__product {
    width: 430px;
}

.basket-dropdown__price {
    width: 170px;
}

.basket-dropdown__total {
    width: 170px;
}

.basket-dropdown1__text {
    width: 430px;
}

.basket-dropdown1__total {
    width: 170px;
}

.basket-dropdown1__price {
    width: 170px;
}

.basket-dropdown1 {
    display: flex;
    color: #010101;
    font-size: 19px;
    border-bottom: 1px solid #f2f2f2;
}

.recycle {
    display: inline-block;
    display: flex;
    align-items: center;
}

.total-field__right {
    display: flex;
    justify-content: flex-end;
    margin: 25px 0;
}

.total-total__field {
    width: 45%;
    display: flex;
    align-items: center;
}

.total-total__price {
    margin-left: 90px;
    font-size: 19px;
    color: #003361;
    font-weight: 700;
}

.total-total {
    color: #1a1a1a;
    font-style: 18px;
}

.basket-dropdown__bottom {
    display: flex;
    justify-content: space-between;
}

.continue-ordering {
    font-size: 15px;
    color: #1a1a1a;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.checkout-button {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding: 11px 45px;
    background: #fcb514;
    text-decoration: none;
    border-radius: 30px;
    transition: .3s;
    border: 0;
}

.right-arrow {
    width: 30px;
    height: 20px;
    padding-left: 10px;
}

.checkout-button:hover {
    background: #e3a414;
}

.menu__field-inner {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 14px;
    list-style-type: none;
    text-transform: uppercase;
}

.menu__top-link {
    margin-right: 9px;
    text-decoration: none;
    color: #666666;
    font-size: 14px;
    line-height: 26px;
}

.basket__img {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("/img/basket.svg");
    background-size: 100% 100%;
    background-position: center center;
    transition: .2s;
}

.basket__img:hover {
    transform: scale(1.1);
}

.goods__pc {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #003361;
    top: -5px;
    right: -7px;
    font-size: 9px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__top-link:hover {
    color: #003361;
}

.menu__top-list:last-child .menu__top__link {
    margin: 0;
}

.menu__list {
    margin-right: 45px;
}

.menu__list:last-child {
    margin-right: 0;
}

.menu__link {
    padding: 3px;
    text-decoration: none;
    color: #666666;
    font-weight: 600;
    font-size: 16px;
}

.menu__link:hover {
    color: #003361;
}

.container-for-slide {
    background-color: #f9f9f9;
    background-image: url(/img/banner-img-1552475322.jpg);
    background-position: 93% bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.welcome {
    width: 60%;
}

.welcome-to {
    color: #003361;
    font-size: 60px;
    font-weight: 700;
}

.welcome__text {
    margin: 10px 0;
}

#tutoring {
    padding: 85px 0 110px 0;
}

.services__inner {
    padding: 85px 0;
}

.services__inner .container {
    display: flex;
    justify-content: space-between;
}

.services__inner-left {
    flex-basis: 42%;
}

.services__img-field {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}

.services__img-field::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.services__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 99.5%;
    height: 99.5%;
}

.services__img-field:after {
    position: absolute;
    content: "";
    display: block;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    background-image: url(/img/shape-grey.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.services__img-field-reverse:after {
    background-image: url(/img/shape-white.png);
}

.services__inner-right {
    width: 50%;
    padding: 70px 30px 0 0;
    color: #666666;
}

.services__title {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.services__text {
    font-weight: 400;
    line-height: 25px;
    margin-top: 35px;
    margin-bottom: 45px;
}

.services__button {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 26px;
    border-radius: 25px;
    background-color: #fcb514;
    transition: .3s;
    border: 0;
}

.services__button:hover {
    background: #e3a414;
}

.services__inner:nth-child(2n+1) {
    background-color: #fafafa;
}

.container-reverse {
    flex-direction: row-reverse;
}

.services .container .services__inner:nth-child(2n+2) .services__inner__right {
    padding: 70px 0 0 30px;
}

.services__menu-item {
    width: 88%;
    margin: 0 auto;
    color: #666666;
    text-align: center;
    padding: 50px 0;
}

.services__menu-title {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    margin: 0 0 40px 0;
}

.bottom__line::after {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #666666;
}

.services__menu-text {
    line-height: 22px;
    margin: 0 0 75px 0;
}

.services__icon-field {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.our-features {
    display: block;
    width: 100%;
}

.our-features {
    content: "";
    display: block;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.our-features--online-tests {
    background-image: url("/img/monitor.svg");
}

.our-features--classes {
    background-image: url("/img/team.svg");
}

.our-features--tutoring {
    background-image: url("/img/conversation.svg");
}

.services__icons {
    width: calc(100% / 3);
}

.services__icon-link {
    display: inline-block;
    width: 30%;
    text-decoration: none;
    color: #666666;
    margin: 0;
    transition: .2s;
}

.services__icon-link:hover {
    transform: scale(1.1);
}

.management .container .services__menu-title {
    text-align: center;
    margin: 0 0 70px 0;
}

.management .container .services__menu-text {
    margin-bottom: 15px;
}

.management {
    color: #666666;
    padding: 50px 0;
}

.faqs {
    width: 100%;
    background-image: url(/img/faq-img.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: auto;
    background-color: #f6f6f6;
    padding: 50px 0 150px 0;
}

.faqs__inner {
    color: #666666;
    width: 59vw;
}

.faqs__list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.faqs__list-inner {
    width: 50%;
    padding: 10px;
}

.faqs__title {
    text-align: center;
}

.faqs__title-top {
    font-size: 36px;
    position: relative;
    margin: 0 0 40px 0;
}

.faqs__title-bottom {
    margin: 0 0 60px 0;
}

.faqs__inner-top {
    margin: 0 0 5px 0;
    font-weight: 700;
}

.faqs__inner-text {
    margin: 0;
}

.faqs__button-field {
    text-align: center;
    margin-top: 100px;
}

.faqs__button {
    display: inline-block;
    padding: 13px 49px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    background-color: #fcb514;
    font-size: 14px;
    transition: .3s;
    border: 0;
}

.faqs__button:hover {
    background: #e3a414;
}

.footer .container {
    padding: 29px 5px 18px 5px;
}

.network__list-inner {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.network__icons {
    margin-right: 20px;
}

.network__icons:last-child {
    margin-right: 0;
}

.network__icons-link {
    padding: 1px;
    display: inline-block;
}

.network .network__icons:last-child {
    margin-right: 0;
}
.network__icons-svg {
    transition: .3s
}
.network__icons-svg:hover {
    transform: scale(1.3)
}

.facebook__icon {
    width: 18px;
    height: 22px;
}

.twitter__icon {
    width: 20px;
    height: 22px;
}

.instagram__icon {
    width: 21px;
    height: 22px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    text-align: center;
}

.footer__menu-field-inner {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.footer__menu-link {
    display: inline-block;
    text-decoration: none;
    color: #666666;
    padding: 1px;
}

.active {
    color: #003361;
}

.footer__menu-list {
    margin-right: 20px;
}

.footer__menu-list:last-child {
    margin-right: 0;
}

.footer__menu-link:hover {
    color: #003361;
}

.reserved {
    text-align: center;
    font-size: 15px;
    color: #555555;
}

.designed {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    color: #555555;
}

.designed__top {
    padding-bottom: 5px;
}

.designed__by {
    padding-right: 10px;
}

.designed__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials {
    background-image: url(/img/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.testimonials__title {
    font-weight: 700;
    font-size: 36px;
    color: #666666;
    margin: 0 0 70px 0;
    text-align: center;
    padding-top: 30px;
}

.feedback {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.feedback-mobile {
    display: none;
    justify-content: space-between;
    padding: 0 10px;
}

.feedback__inner {
    background: #fff;
    padding: 30px 30px 60px;
    text-align: center;
    line-height: 22px;
    min-width: 50%;
    margin-right: 15px;
}

.feedback__inner:last-child {
    margin: 0;
}

.slider-testimonials {
    padding: 0 0 70px 0;
}

.glide__bullets1 {
    bottom: -2em;
}

.glide__bullet1 {
    width: 25px;
    height: 10px;
    border-radius: 30px;
    background: #7f7f7f;
    border: none;
}
.glide__bullet {
    border: 1px solid #666666;
}

.glide__bullet:hover,
.glide__bullet:focus {
    border: none;
    background-color: #666666a9;
}

.glide__bullet1:hover,
.glide__bullet1:focus {
    border: none;
    background-color: #fcb514;
}

.glide__bullet--active {
    background: #666666;
    border: none;
}
.glide__bullets1 .glide__bullet--active {
    background-color: #fcb514;
}

/*   Online Test   */

.online-test__header {
    background-image: url(/img/tests/rectangle_608_copy_2.png);
    background-size: cover;
    background-position: center;
}

.online-test {
    font-size: 63px;
    font-weight: 700;
    color: #003361;
    text-align: center;
    padding: 125px 0 230px 0;
    margin: 0;
}

.exams {
    background-image: url(/img/tests/onlinetestingpage-img2.jpg), url(/img/tests/onlinetestingpage-img1.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: calc((100vw - 1030px)/2 + 1050px) 15%, calc((100vw - 1030px)/ 2 - 45%) 68%;
    background-size: 29% auto, 29% auto;
}

.exams__container {
    width: 1030px;
    margin: 0 auto;
    padding: 100px 0 150px;
}

.law__exam {
    display: flex;
    padding: 30px 35px;
    border: 1px solid #000000;
    border-radius: 25px;
}

.law__exam-img {
    width: 120px;
}

.law__exam-inner {
    width: 670px;
    margin-left: 50px;
}

.law__exam-title {
    margin: 0;
    font-size: 20px;
    color: #303030;
    font-weight: bold;
}

.law__exam-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #666666;
    font-weight: 700;
}

.law__exam-text {
    margin: 16px 0 7px 0;
    color: #303030;
    font-weight: 700;
}

.law__exam-text-bottom {
    margin: 0 0 25px 0;
    color: #303030;
    font-weight: 700;
}

.law__exam-icon {
    padding-top: 20px;
}

.exam__label-check {
    position: relative;
    min-width: 13px;
    min-height: 13px;
    border: 1px solid #808080;
    margin-right: 35px;
}
.exam__label-check:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.mock__exam1,
.mock__exam2,
.mock__exam3,
.clinical__exam {
    display: none;
}

.law__exam-first-label {
    margin-bottom: 3px;
}

.law__exam-second-label {
    margin-bottom: 15px;
}

.law__exam__button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px 35px;
    background: #fcb514;
    border-radius: 25px;
    margin-top: 30px;
    text-transform: uppercase;
    transition: .3;
    border: 0;
}

.law__exam__button:hover {
    background: #e3a414;
}

.check__img {
    opacity: 0;
    position: absolute;
    top: -2px;
    left: 1px;
    right: 0;
    bottom: 0;
}

.mock__exam1:checked + .exam__label-check img {
    opacity: 1;
}

.mock__exam2:checked+ .exam__label-check img {
    opacity: 1;
}

.mock__exam3:checked+ .exam__label-check img {
    opacity: 1;
}

.clinical__exam:checked+ .exam__label-check img {
    opacity: 1;
}

.exam__label-price {
    padding-left: 3px;
    background-color: #fff;
    z-index: 2;
}

.exam__label-text {
    background-color: #fff;
    z-index: 2;
    padding-right: 3px;
}

.mock__exam-field {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mock__exam-field:after {
    position: absolute;
    width: 100%;
    content: "";
    border-bottom: dotted 3px #666666;
    display: block;
    top: 7px
}

.session__first-img {
    width: 125px;
    height: 150px;
}

.clinical-exam {
    margin-top: 60px;
}

.tests__text-field {
    background-image: url(/img/tests/onlinetestbottom-bg.jpg);
    background-repeat: no-repeat;
    background-position: calc((100vw - 1174px)/2 + 1077px) bottom;
    background-size: 493px auto;
    padding: 75px 0 140px 0;
    background-color: #fafafa
}

.tests__text-field-inner {
    width: 1030px;
    margin: 0 auto;
    color: #666666;
}

.tests__text-list {
    margin: 0 0 20px 60px;
}

.tests__text {
    margin: 0 0 20px 0;
}


/*   Header slider   */

.header__slider {
    height: calc(100vh - 176px);
}


/*  Search it  */

.container-for-slide {
    height: calc(100vh - 190px);
}


/*    Classes     */

.classes__header {
    background-image: url(/img/tests/rectangle_608_copy_2.png);
    background-size: cover;
    background-position: center;
}

.classes__exam {
    display: flex;
    align-items: center;
    padding: 30px 35px;
    border: 1px solid #000000;
    border-radius: 25px;
}

.classes__icon {
    width: 103px;
}

.classes__exam-field {
    display: flex;
}

.classes__exam-section {
    background-image: url(/img/classes/group-classes-pageimg2.jpg), url(/img/classes/group-classes-pageimg1.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: calc((100vw - 1030px)/2 + 1050px) 15%, calc((100vw - 1030px)/ 2 - 45%) 68%;
    background-size: 29% auto, 29% auto;
}

.classes__exam-inner {
    padding-left: 50px;
}

.exam__label-right {
    display: flex;
}

.classes__label-text {
    width: 290px;
}

.classes__label-date {
    padding-left: 15px;
    width: 130px
}

.classes__label-price {
    padding-left: 15px;
    width: 50px;
}

.classes__label-clock {
    padding-left: 15px;
    width: 260px
}

.classes__exam1,
.classes__exam2,
.classes__exam3,
.classes__exam4 {
    display: none;
}

.classes__exam1:checked + .exam__label-check  img {
    opacity: 1;
}

.classes__exam1:checked ~ .classes__exam-field {
    color: #262626;
}

.classes__exam2:checked + .exam__label-check img{
    opacity: 1;
}

.classes__exam2:checked ~ .classes__exam-field  {
    color: #262626;
}

.classes__exam3:checked+ .exam__label-check img {
    opacity: 1;
}

.classes__exam3:checked ~ .classes__exam-field {
    color: #262626;
}

.classes__exam4:checked+ .exam__label-check img {
    opacity: 1;
}

.classes__exam4:checked ~ .classes__exam-field {
    color: #262626;
}

.classes__exam-input-field {
    margin: 7px 0;
}

.classes__Exam-title {
    margin-bottom: 25px;
}

.classes__bottom-text {
    text-align: right;
    color: #666666;
    font-weight: 300;
    margin: 20px 50px 0 0;
}

.cce__exam {
    line-height: 22px;
    color: #666666;
}

.cce__exam-title {
    margin: 55px 0 25px 0;
    font-size: 20px;
    color: #303030;
    text-transform: uppercase;
}

.cce__exam-text {
    margin: 0 0 20px 0;
}

.cce__exam-list {
    padding-left: 20px;
    margin: 0;
}

.cce__exam-list-text {
    margin-bottom: 5px;
}

.strategies {
    background: #fafafa;
    padding: 60px 0 100px 0;
}

.strategies__inner {
    width: 1030px;
    margin: 0 auto;
    color: #666666;
    line-height: 22px
}

.strategies__title {
    font-size: 20px;
    color: #303030;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* Tutoring */

.tutoring__header {
    background-image: url(/img/tests/rectangle_608_copy_2.png);
    background-size: cover;
    background-position: center;
}

.tutoring-center {
    background-image: url(/img/tutoring/tutoringpage-img2.jpg), url(/img/classes/group-classes-pageimg1.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: calc((100vw - 1030px)/2 + 1050px) 10%, calc((100vw - 1030px)/ 2 - 45%) 50%;
    background-size: 29% auto, 29% auto;
}

.tutoring__section {
    padding: 60px 0;
}

.tutoring__section-inner {
    width: 1030px;
    margin: 0 auto;
}

.tutoring__text {
    margin: 0 0 20px 0;
    color: #666666;
    line-height: 22px;
}

.tutoring__text-bottom {
    margin: 40px 0 30px 0;
    font-size: 16px;
    color: #666666;
    line-height: 22px;
}

.session__inner {
    width: 1030px;
    margin: 30px auto;
}

.session__first {
    border: solid 1px #000000;
    padding: 35px 50px;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.session__text {
    margin-left: 60px;
}

.session__text-top {
    font-size: 20px;
    font-weight: 700;
    color: #303030;
    margin-bottom: 20px;
}

.session__button {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: #fcb514;
    min-width: 280px;
    border-radius: 25px;
    padding: 9px;
    display: inline-block;
    text-decoration: none;
    transition: .3;
    border: 0;
}

.session__button:hover {
    background: #e3a414;
}


/*      Contact      */

.contact__header {
    background-image: url(/img/contact/contactbanner.jpg);
    background-size: cover;
    background-position: center;
}


.get-in-touch__valid-decore {
    width: 22px;
    position: absolute;
    right: 0;
    top: 17px;
}

.get-in-touch__section .container {
    padding: 55px 0;
    width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section-get-in-touch {
    padding-top: 90px;
    padding-bottom: 50px;
}

.section-get-in-touch .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.get-in-touch {
    width: 670px;
    padding: 35px 40px;
    background-color: #fff;
    color: #666666;
    border: solid 1px #777777;
    border-radius: 25px;
}

.get-in-touch__fieldset {
    padding: 0;
    border: 0;
}

.git-in-touch__legend {
    font-size: 35px;
}

.get-in-touch__title {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    margin: 10px 0 30px;
}

.get-in-touch__row {
    position: relative;
    min-height: 70px;
    font-size: 20px;
    line-height: 26px;
    color: #666666;
    font-weight: 400;
    border: 0;
    width: 100%;
    box-sizing: border-box;
}

.get-in-touch__input {
    width: 100%;
    padding: 15px 22px 10px 5px;
    border: 0;
    border-bottom: 1px solid #efefef;
    background-color: transparent;
    color: #666666;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    outline: 0;
    transition: border .2s;
}

.get-in-touch__input:focus {
    outline: 0;
    border-bottom: 1px solid #ccc;
}
.continue-ordering__line {
    width: 20px;
    height: 16px;
    margin-left: 10px;
}


.get-in-touch__row--message {
    font-size: 20px;
    line-height: 26px;
    color: #666666;
    font-weight: 400;
    border: 0;
    width: 100%;
    box-sizing: border-box;
}

.get-in-touch__message-text {
    font-size: 20px;
}

.get-in-touch__message-textarea {
    resize: none;
    min-height: 100px;
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    line-height: 26px;
    padding: 15px 22px 10px 5px;
    border-bottom: solid 1px #efefef;
    transition: border .2s;
    -webkit-appearance: none;
}

.get-in-touch__message-textarea:focus {

    outline: 0;
    border-bottom: 1px solid #ccc;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.get-in-touch__button {
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 212px;
    background: #fcb514;
    box-sizing: border-box;
    padding: 9px;
    display: inline-block;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s;
    text-align: center;
    margin-top: 15px;
    border: 0;
}

.get-in-touch__button:hover {
    cursor: pointer;
    background: #eca80f;
}

.get-in-touch__right {
    margin-top: 20px;
}

.mailing__adress-title {
    font-size: 20px;
    color: #666666;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.mailing__adress-text {
    font-size: 20px;
    color: #666666;
    font-weight: 400;
    margin: 0;
}

.phone__numbers-call {
    text-decoration: none;
    color: #666666;
}

.phone__numbers-call:hover {
    color: #e3a414
}

.help-block {
    padding: 0;
    font-size: 12px;
    text-align: left;
    margin-top: 15px;
    color: #f00;
}


/*    Registration   */

.register__header {
    background-image: url(/img/registration/registrationbanner.jpg);
    background-position: center;
    background-size: cover;
}

.register__container {
    width: 595px;
    margin: 0 auto;
    padding: 80px 0;
}

.register__label {
    display: inline-block;
    width: 100%;
    margin-bottom: 32px;
}

.register__title {
    font-size: 20px;
    color: #666666;
    font-weight: 600;
    margin-bottom: 12px;
    margin-left: 30px;
    display: block;
}

.register__title-after {
    color: #f00;
    font-size: 14px;
    padding-left: 10px;
}

.register__input {
    width: 100%;
    font-size: 20px;
    color: #666666;
    font-weight: 400;
    padding: 20px 70px 20px 30px;

    border: solid 1px #dddddd;
    border-radius: 30px;
    outline: 0;
    -webkit-appearance: none;
}
.register__textarea {
    width: 100%;
    font-size: 20px;
    color: #666666;
    font-weight: 400;
    padding: 20px 70px 20px 30px;

    border: solid 1px #dddddd;
    border-radius: 30px;
    outline: 0;
}
.register__textarea:focus {
    color: #666666;
    border-color: #003361;
    position: relative;
    outline: 0;
}

.register__input:focus {
    color: #666666;
    border-color: #003361;
    position: relative;
}

.register__help-block {
    padding: 10px 20px 0;
    color: #f00;
    font-size: 14px;
}

.register__input::placeholder {
    color: rgba(204, 204, 204, 0.644)
}

.register__button {
    border-radius: 30px;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    background: #fcb514;
    padding: 9px 60px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

.register__button:hover {
    background-color: #eca80f;
}


/*    Sign in    */

.sign-in__bottom {
    display: flex;
    align-items: center;
}

.forgot-password {
    color: #666666;
    padding: 0 5px 0 15px;
}

.click-here {
    color: #003361;
    text-decoration: none;
    display: inline-block;
}

.click-here:hover {
    color: #000;
}


/*  Checkot  */

.checkout__header {
    background-image: url(/img/checkout/Rectangle_608_copy_2.png);
    background-size: cover;
    background-position: center center;
}

.checkout__center .container {
    display: flex;
    justify-content: space-between;
}

.billing-adress {
    flex-basis: 62%;
}

.billing__title {
    display: inline-block;
    color: #003361;
    font-size: 24px;
    font-weight: 700;
    padding: 0 15px 10px 0;
    border-bottom: 2px solid #003361;
}

.name__field {
    display: flex;
    margin-top: 55px;
}

.name__field .checkout__label {
    margin-right: 55px;
}

.name__field .checkout__label:last-child {
    margin-right: 0;
}

.checkout__label .register__input {
    padding: 16px 65px 16px 30px;
}

.checkout__label .register__help-block {
    padding: 10px 30px 0;
}

.order__label .register__input {
    height: 150px;
}

.your-order {
    flex-basis: 35%;
}

.your-order__inner {
    margin-top: 90px;
}

.order-first__price {
    margin-right: 20px;
}

.order-first {
    display: flex;
    justify-content: space-between;
    color: #363636;
    font-size: 18px;
    line-height: 23px;
}

.order-total {
    margin-top: 20px;
}

.order-total__price {
    color: #003361;
}

.credit-label {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: #000000;
}

.credit-label-top {
    display: flex;
    align-items: center;
}

.credit-accept {
    user-select: none;
}

.credit-img__field {
    width: 120px;
    height: 16px;
    padding-left: 5px;
}

.credit-name {
    margin-left: 10px;
}

.credit-img {
    width: 100%;
    height: 100%;
}

.paypal-label {
    margin-top: 30px;
}

.paypal-img__field {
    width: 25px;
    height: 16px;
    padding-left: 5px;
}

.read {
    margin: 45px 0 35px 0;
    display: flex;
    align-items: center;
}

#credit-accept-input {
    display: none;
}

.credit-check {
    margin: 0;
}

#credit-accept-input:checked+label span img {
    opacity: 1;
}

.credit-accept__text {
    margin-left: 5px;
    color: #333333;
    opacity: 0.7;
}

.debit-card {
    background: #fafafa;
    padding: 10px 25px 15px;
    border: 1px solid #f0f0f0;
    margin-top: 10px;
    color: #666666;
}

.debit-card__inner {
    padding: 10px 40px 10px 20px;
    font-size: 14px;
    background-color: #ffffff;
}

.card-type {
    display: block;
    margin-bottom: 3px;
    margin-left: 20px;
    font-size: 16px
}

.card-type__label {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-type__label1 {
    margin: 0;
}

.card-type__field {
    margin-top: 0;
}

.checkout__label .register__input {
    padding: 10px 40px 10px 20px;
    font-size: 14px;
    background-color: #ffffff;
}

.wrapper-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.575);
    display: none;

}
.popup-active {
    display: block;
}

.popup-thank-you {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ffffff;
    padding: 40px 90px;
    z-index: 5;
    display: none ;

}

/*   exam-a */
.exam-a__section .container {
    padding: 30px 45px;
    border: 1px solid #000000;
    border-radius: 30px;
    margin: 30px auto;
}
.exam-a__top {
    display: flex;
    justify-content: space-between;

}
.exam-a1__top {
    display: flex;
    justify-content: space-between;
}
.exam-a__top-title {
    color: #303030;
    font-size: 25px;
    font-weight: 700;
}
.exam-a__top-category {
    color: #003361;
    font-size: 20px;
    font-weight: 700;
}
.exam-a__top-right {
    text-align: right;
}
.exam-a__top-time {
    color: #db1b1b;
    font-size: 13px;
    font-weight: 700;
}
.exam-a__top-end {
    display: inline-block;
    color: #fffefe;
    font-size: 14px;
    padding: 11px 19px ;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #666666;
    text-decoration: none;
    margin-top: 10px;
    transition: .3s;
    border: 0;
}
.exam-a__top-end:hover {
    background-color: rgb(42, 41, 41);
}
.go-to-question {
    display: flex;
    align-items: flex-end;

}
.go-to-question__inner {
    text-align: center;
    white-space: nowrap;
}
.next-preview {
    display: flex;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}
.next-preview__link {
    padding: 8px 12px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 20px
}
.star {
    width: 16px;
    margin: 0 3px ;
}
.preview-label {
    display: flex;
}
.preview-input {
    width: 57px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
}
.mark-star__field {

    text-align: center;
    margin-left: 20px;
}
.mark-star__checkbox {
    display: none;
}
#star-mark:checked + label svg {
    fill: #fcb514;;
}
#Layer_1 {
    fill: #ffffff;
    width: 20px;
    height: 20px;
}
.for-star-mark {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
.mark-name {
    font-size: 10px;
    color: #666666;
}
.exam-a__question {
    padding: 27px 24px;
    background-color: #e8e8e8;
    opacity: 0.5;
    border-radius: 15px;
}
.exam-a__question-title{
    margin-top: 0;
}
.answer {
    padding-left: 5px;
}
.question-text {
    margin: 0;
}
.question-answers {
    padding: 30px 0;
}
.question-answers-label {
    width: 45%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    user-select: none;
}
.buttons-field {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.prev-button {
    display: inline-block;
    background-color: #fcb514;
    border-radius: 22px;
    padding: 14px 40px;
    color: #fffefe;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
    border: 0;
}
.prev-button:hover {
    background-color: #e3a414;;
}
.next-button {
    background-color: #e0e0e0;
    color: #666666;
    white-space: nowrap;

}
.next-button:hover {
    background-color: #cccccc;
}
.exam-1__inner {
    width: 645px;
    margin: 30px auto;
    padding:  25px;
    border: 1px solid #000000;
    border-radius: 25px;
}
.exam-1__inner .exam-a__top {
    margin-left: 20px ;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
.table  tr:nth-child(2n + 1)   {
    background-color: #f8f8f8;
}
.table-line__inner {
    width: 30%;
    padding: 20px;
    font-weight: 700;
}
caption {
    text-align: left;
    padding: 20px;
    color: #303030;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.uppercase {
    text-transform: uppercase;
    width: 250px;
}
/*   Study Mode */

.right-img__field {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
}
.right-wrong__inner{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.right-wrong {
    padding: 0;
}
.right {
    width: 10%;
    margin-right: 10px;

    text-align: center;
}
.right-answer__text {
    margin: 0;
    padding-top: 5px ;
}

.answer {
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}
.wrong-answer {
    background-color: #e2b8b8;
}
.right-answer{
    background-color: #cae0b6;
}
/*  Results Section */

.result__header {
    background-color: #f7f7f7;

    padding-bottom: 20px;
}
.results-section-container {
    width: 1040px;
    margin: 40px auto;
    padding: 30px 50px;
    border: 1px solid #000000;

    border-radius: 25px;
}
.results__form {
    max-height: 300px;
    overflow-x: auto;

}
.classes__exam-input-field:nth-child(2n + 2) {
    background-color: #f8f8f8;
}
.exam-results__title{
    color: #303030;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.exam-results__category {
    font-size: 20px;
    color: #666666;
    text-transform: uppercase;
    font-weight: 700;
    padding: 30px 0 10px 0;
}

.results__title-inner {
    width: 24%;
    font-size: 16px;
    color: #666666;
    font-weight: 700;
    padding: 20px 18px;
}
.results-table__line__title {

    color: #666666;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
}
.results-form__title {
    display: flex;
    align-items: center;
    width: 100%;
}
.result-check {

    margin-right: 0;
}
.results__title-inner-top {
    padding: 20px 26px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.select-all {

    display: inline-block;
    color: #666666;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 18px;
}
.select-all-label {
    width: 17%;
    margin: 13px 0;
}
.refund {
    display: inline-block;
    color: #ffffff;
    border-radius: 22px;
    background-color: #fcb514;
    padding: 12px 46px;
    border: 0;
    text-decoration: none;
    transition: .3s ;
    text-transform: uppercase;
}
.refund:hover {
    background-color:  #e3a414;;
}
::-webkit-scrollbar {
    width: 5px;



}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #949494ab;
    height: 20%;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.general-settings__label {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px 0;
    padding: 10px 10px;
}
.general-settings__label:nth-child(3n + 1 ) {
    background-color: #f8f8f8;
}
.general-settings__label:nth-child(3n + 2) {
    border-bottom: 1px solid #e8e8e8;
}
.general-settings__text {
    width: 28%;
    padding: 0 10px;
    color: #666666;
    font-weight: 700;
}
.general-settings__input {
    width: 65%;
    font-size: 20px;
    color: #666666;
    font-weight: 400;
    padding: 17px 70px 17px 30px;
    background: #ffffff;
    border: solid 1px #dddddd;
    border-radius: 30px;
    box-sizing: border-box;
    outline: 0;
}
.general-settings__inner-name {
    font-weight: 700;
    margin-right: 40px;
}
.test-lenght {
    color: #666666;

}
.general-settings__inner-input {
    width: 80px;
    font-size: 20px;
    color: #666666;
    font-weight: 400;
    padding: 17px 0;
    background: #ffffff;
    border: solid 1px #dddddd;
    border-radius: 25px;
    box-sizing: border-box;
    outline: 0;
    margin-right: 15px;
    padding-left: 30px;
}
.general-settings__inner-hour {
    margin-right: 20px;
}
.exam-start {
    max-height: 300px;
    overflow-x: auto;
}
.exam-start__title-inner {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.exam-start__title {
    display: flex;
    justify-content: flex-end;
    color: #666666;
}
.exam-start__category {
    padding-bottom: 0;
}

.try-1__title {

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}
.try-1 {
    width: 50%;
    text-align: center;

}
.dashboard-start__title-inner .try-1 {
    text-align: left;
}

.try-1__bottom {
    padding: 10px;
    font-weight: 700;
}
.exam-start__line {
    display: flex;
    align-items: center;
    margin: 30px 0 ;
    color: #666666;
}
.exam-start__line-name {
    width: 50%;
    font-weight: 700;
}
.exam-start__line-left {
    width: 25%;
    display: flex;
    align-items: center;
}
.exam-start__line-right {
    width: 25%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.exam-start__line-start {
    background-color: #fcb514;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    color:#ffffff;
    width: 118px;
    height: 43px;
    text-transform: uppercase;
    text-decoration: none;

}
.exam-start__line-review {
    background-color: #003361;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    color:#ffffff;
    width: 118px;
    height: 43px;
    text-transform: uppercase;
    text-decoration: none;
}
.exam-start__line-percent {
    text-align: center;
    margin-left: 15px;
    font-size: 18px;
}
.dashboard-inner {
    width: 1040px;
    background-color: #ffffff;
    margin: 0;
    max-height: 650px;
    overflow-x: auto;
    text-align: left;
}
.popup-dashboard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 40px 90px;
    z-index: 5;
    display: none;
}

.dashboard-table {
    width: 100%;
}
.dashboard-table__title {
    font-size: 20px;

}
.dashboard-inner .dashboard-top {
    margin-bottom: 15px;
    margin-left: 0;
}
.caption {
    text-align-last: left;
    font-size: 17px;
    font-weight: 700;
    margin: 10px 0;
    text-transform: uppercase;
}
.dashboard-start__title-inner {
    width: 59%;
}
.table-line.total-bold {
    color: #030303;
}
.table-line {
    color: #666666
}
.dashboard-table2 {
    width: 100%;
    margin-top: 40px;
}
.enrolled-for .results__title-inner {
    width: 30%;
}
.cancellation__inner {
    display: inline-block;
    text-decoration: none;
    color: #666666;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}
.popup-choose-exam {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 60px;
    background-color: #ffffff;
    z-index: 5;
    color: #363636;
    border-radius: 20px;
    display: none;

}

.choose-exam__title {
    width: 410px;
    font-size: 24px;
    text-align: center;
}
.choose-exam__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin-top: 40px ;
}
.choose-exam__label {
    padding: 10px 0;
    cursor: pointer;
}
.choose-exam__button-field {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.choose-exam__ok{
    min-width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcb514;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    margin-left: 7px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose-exam__ok:hover {
    background-color: #e3a414;
}
.choose-exam__cancel:hover {
    background-color: #e7e6e57a;
}
.choose-exam__cancel{
    min-width: 150px;
    height: 50px;
    border-radius: 25px;
    text-transform: uppercase;
    color: #666666;
    font-size: 18px;
    margin-left: 7px;
    border-radius: 25px;
    border: 1px solid #666666;
    background-color: #ffffff;
    margin-right: 7px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width: 1200px) {
    .menu__list {
        margin-right: 35px;
    }

    .logo__link {
        display: flex;
        justify-content: center;
    }

    .container {
        max-width: 90%;
    }
    .container-for-slide {
        background-position: 100% bottom;
    }
    .welcome {
        width: 50%;
    }
    .exams__container {
        max-width: 90%;
    }
    .tests__text-field-inner {
        max-width: 90%;
    }
    .classes__exam {
        flex-wrap: wrap;
    }
    .classes__exam-inner {
        padding-left: 0;
        width: 100%;
    }
    .classes__icon {
        margin: 0 auto;
    }
    .classes__Exam-title {
        margin: 15px auto;
        text-align: center;
    }
    .classes__label-clock {
        width: auto;
    }
    .classes__label-text {
        width: 180px;
    }
    .strategies__inner {
        max-width: 90%;
    }
    .tutoring__section-inner {
        width: 100%;
    }
    .session__inner  {
        max-width: 90%;
    }
    .get-in-touch__section .container {
        flex-wrap: wrap;
    }
    .get-in-touch {
        width: 100%;
    }
    .get-in-touch__right {
        margin: 0 auto;
    }
    .question-answers-label {
        width: 52%;
    }
    .answer {
        width: 100%;
    }
    .right-answer, .wrong-answer {
        width: 89%;
    }
    .buttons-field {
        width: 60%;
    }
    .designed__top {
        text-align: center;

    }
    .results-section-container {
        width: 100%;
    }
    #dashboard-inner {
        max-width: 90%;
        margin: 0 auto;
    }

}


@media (max-width: 992px) {
    .header .container {
        flex-direction: column;
    }
    .header__menu {
        align-items: center;
    }
    .feedback {
        display: none;
    }
    .feedback-mobile{
        display: flex;
    }
    .services__icon-field {
        flex-wrap : wrap;
        justify-content: center;
    }
    .services__icons {
        width: 50%;
    }
    .faqs__list {
        flex-wrap: wrap;
    }
    .faqs__inner {
        width: 50vw;
    }
    .faqs__list-inner {
        width: 100%;
    }
    .session__first {
        flex-wrap: wrap;
        padding: 20px 40px;
    }
    .session__first-img {
        margin: 0 auto;
    }
    .session__text {
        margin: 15px 0 0 0;
    }
    .question-answers-label {
        width: 65%;
    }
    .footer .container {
        max-width: 100%;
    }
    .footer__menu-list {
        margin-right: 10px;
        font-size: 13px;
    }
    .designed__top {

        font-size: 13px;
    }
    .exam-1__inner {
        width: auto;
    }
    .results-section-container {
        padding: 20px 15px;
    }
    .basket-dropdown {
        width: auto;
        transform: translate(-38%)
    }
    .basket-dropdown1__text, .basket-dropdown__product {
        width: 300px;
    }
    .basket-dropdown1__price, .basket-dropdown__price, .basket-dropdown1__total, .basket-dropdown1__total {
        width: 130px;
    }
    .popup-dashboard {
        padding: 0;
        width: 90%;
    }
    .table-line__inner {
        padding: 10px 5px;
    }

}




@media (max-width: 800px) {
    .menu__field-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu__list{
        margin: 5px;
        width: 28%;

    }

    .services__inner .container {
        flex-wrap: wrap;
    }
    .services__inner-left {
        flex-basis: 100%;
    }
    .services__inner-right {
        flex-basis: 100%;
        text-align: center;
    }
    .footer__inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer .container {
        width: 100%;
    }

    .exams__container {
        max-width: 90%;
        padding: 50px 0;
    }
    .law__exam {
        flex-wrap: wrap;
    }
    .law__exam-icon {
        margin: 0 auto;
        padding: 0;
    }
    .law__exam-img {
        width: 150px;
    }
    .law__exam-inner {
        margin-left: 0;
        width: 100%;
    }
    .exam__label-right {
        flex-wrap: wrap;
        padding-left: 100px;
    }
    .exam__label-check {
        margin-right: 13px;;
    }
    .strategies {
        padding:  20px 0;
    }
    .tests__text-list {
        padding: 0;
    }
    .classes__label-clock {
        width: 100%;
    }
    .register__container {
        max-width: 90%;
    }
    .question-answers-label {
        width: 100%;
    }
    .buttons-field {
        width: 85%;
    }
    .exam-a__section .container {
        padding: 20px 25px;
    }
    .exam-a__top {
        justify-content: center;
        flex-direction: column;
    }
    .exam-a__top-right {
        text-align: center;
        padding: 10px 0;
    }
    .go-to-question__inner {
        margin: 0 auto;
    }
    .exam-a1__top {
        flex-wrap: wrap;
        justify-content: center;
    }
    .results-section .container {
        max-width: 95%;
    }
    .results-section-container {
        padding: 15px;
    }
    .results__title-inner-top {
        padding: 10px 5px ;
        font-size: 16px;
    }
    .results__title-inner {
        width: 25%;
    }
    .results__title-inner-top {
        text-align: center;

    }
    .exam-start__line {
        flex-wrap: wrap;
    }
    .exam-start__line-name{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .exam-start__line-right {
        width: 50%;
        justify-content: center;
        padding-left: 5px;
    }
    .exam-start__line-left {
        width: 50%;
        justify-content: center;
    }
    .exam-start__title-inner {
        width: 100%;
    }
    .exam-start__category {
        padding: 0;
        margin: 10px 0;
    }
    .exam-results__category {
        padding: 10px 0;
    }

    .right-wrong__inner {
        justify-content: space-between;
    }
    .right-answer, .wrong-answer  {
        width: 80%;
    }
    .right-wrong__inner .answer {
        width: 80%;
    }
    .right {
        width: 18%;
        margin-right: 5px;
    }
    .basket-dropdown {

        transform: translate(-36%)
    }
    .basket-dropdown1__text, .basket-dropdown__product {
        width: 230px;
    }
    .basket-dropdown1__price, .basket-dropdown__price, .basket-dropdown1__total, .basket-dropdown1__total {
        width: 90px;
    }
    .exam-1__inner.dashboard-inner {
        max-width: 90%;
        margin: 0 auto;
    }
    .dashboard-start__title-inner  {
        width: 50%;
    }
}


@media (max-width: 576px) {
    .services__icons {
        width: 100%;
        margin-bottom: 20px;
    }
    .services__inner {
        padding: 40px 0;
    }
    #tutoring  {
        padding: 40px 0;
    }
    .management {
        padding: 20px;
    }
    .faqs {
        padding: 30px 0;
    }
    .faqs__button-field  {
        margin-top: 10px;
    }
    .services__menu-item {
        padding: 20px 0;
    }
    .exam__label-right {
        padding-left: 0;
    }
    .classes__exam {
        padding: 25px 7px; ;
    }
    .classes__first-label {
        font-size: 12px;
    }
    .classes__label-text {
        width: 120px;
    }
    .classes__label-price {
        padding-left: 0;
    }
    .tutoring__section {
        padding: 30px 0 0 0
    }
    .buttons-field {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .exam-a__section .container {
        padding: 19px 15px;
    }
    .prev-button {
        width: 35%;
        text-align: center;
        padding: 13px 15px;

    }
    .prev-button:first-child{
        margin-right: 10px;
    }
    .prev-button:nth-child(2) {
        order: 1;
        margin-top: 10px;
    }
    .footer .container {
        padding: 18px 5px;;
    }
    .footer__menu-list  {
        margin-right: 3px;
    }
    .footer__menu-field-inner {
        flex-wrap: wrap;
    }
    .footer__menu-list {
        width: 26%;
        padding: 5px 0;
    }
    .reserved  {
        font-size: 13px;
    }
    .designed {
        justify-content: center;
        align-items: center;
    }
    .designed__top {
        font-size: 14px
    }
    .footer__logo {
        margin-bottom: 5px;
    }
    .network__icons-svg {
        width: 22px;
        height: 25px;
    }
    .logo {
        width: 305px;
        height: 110px;
        margin-bottom: 10px;
    }
    .online-test {
        font-size: 47px;
    }
    .services__menu-title {
        padding: 25px 0 0 0;
    }
    .feedback__inner {
        padding: 10px;
    }
    .feedback-mobile {
        padding: 0;
    }
    .sign-in__bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .register__button {
        margin-bottom: 15px;
    }

    .classes__label-text {
        display: flex;
        align-items: center;
    }
    .exam__label-right {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .classes__label-price {
        order:1 ;
    }
    .classes__bottom-text {
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    .exam-a__top {
        justify-content: center;
        flex-direction: column;
    }
    .next-preview__link {

        padding: 5px 7px;
        margin-right: 3px;
        font-size: 14px;
    }
    .next-preview {

        justify-content: center;
        flex-wrap: wrap;

    }
    .mark-star__field {
        margin: 5px 0 0 0;
    }
    .exam-a__section .container {
        padding: 10px 5px;
    }
    .exam-a__top-title {
        font-size: 23px;
        text-align: center;
    }
    .exam-a__top-category {
        text-align: center;
    }
    .preview-input {
        width: 45px;
        margin-right: 5px;
    }
    .menu__link {
        font-size: 15px;

    }
    .menu__list {
        text-align: center;
        width: 29%;
    }
    .classes__label-clock {
        padding: 0;
    }
    .classes__label-date {
        padding: 0;
    }
    .checkout__center .container {
        flex-direction: column;
    }
    .name__field  .checkout__label {
        margin-right: 25px;
    }
    .debit-card {
        padding: 10px;
    }
    .paypal-label {
        width: 45%;
        margin-top: 10px;
        margin-left: 5px;
    }
    .credit-label-top {
        margin-left: 5px;
    }
    .credit-name {
        margin-left: 5px;
    }
    .results-form__title {
        flex-wrap: wrap;
    }
    .results__title-inner {
        width: 50%;
        padding: 10px ;
    }
    .results__title-inner-top {
        text-align: left;
        padding: 5px 0 5px 30px;
    }
    .results-section-container {
        padding: 10px 5px;
    }
    .general-settings__label {
        padding: 10px 0;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    .general-settings__text {
        padding: 0;

    }
    .general-settings__inner-input {
        font-size: 19px;
        margin-right: 0;
        -webkit-appearance: none;
    }
    .general-settings__inner-hour {
        margin: 0;
    }
    .general-settings__inner-name {
        width: 100%;
        margin-bottom: 15px;
    }
    .general-settings__input {
        -webkit-appearance: none;
    }
    .enrolled-for .results__title-inner {
        width: 33%;
    }
    .results__title-inner-top {
        padding: 5px 0 5px 5px;
        font-size: 14px;
        text-align: center;
    }
    .exam-start__line-review {
        font-size: 13px
    }
    .exam-start__line-start {
        font-size: 13px;

    }
    .exam-start__line-percent {
        font-size: 15px;
        margin-left: 7px;
    }
    .table caption  {
        text-align: center;
    }
    .right-answer, .wrong-answer  {
        width: 75%;
    }
    .right-wrong__inner .answer {
        width: 75%;
    }
    .right {
        width: 25%;
    }
    .basket-dropdown {
        padding: 15px 10px;
        transform: translate(-24%)
    }
    .basket-dropdown1__text, .basket-dropdown__product {
        width: 140px;
        font-size: 14px;
        margin: 0;
    }
    .basket-dropdown1__price, .basket-dropdown__price, .basket-dropdown1__total, .basket-dropdown__total {
        width: 60px;
        margin: 0;
        font-size: 14px;
    }
    .total-field__right {
        justify-content: center;
    }
    .basket-dropdown1 {
        padding: 10px 0;
        align-items: center;
    }
    .continue-ordering__line {
        margin-left: 3px;
    }
    .continue-ordering {
        margin-top: 0;
    }
    .total-total__field {
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    .total-field__right {
        margin: 0;
    }
    .total-total__price {
        margin-left: 0;
    }
    .basket-dropdown__bottom {
        justify-content: center;
        flex-wrap: wrap;
    }
    .continue-ordering {
        margin-top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .continue-ordering__line img {
        width: 20px;
        height: 16px;
    }
    .popup-thank-you {
        padding: 10px;
    }
    .dashboard-start__title-inner .try-1 {
        text-align: right;
    }
    .dashboard-start__title-inner  {
        width: 75%;
    }
    .popup-choose-exam{
        padding: 10px 32px;
    }
    .choose-exam__title {
        font-size: 18px;
        width: auto;
        margin-bottom: 0;
    }
    .choose-exam__form {
        margin: 15px 0;
    }
    .choose-exam__ok {
        min-width: 110px;
        height: 40px;
    }
    .choose-exam__cancel {
        min-width: 110px;
        height: 40px;
    }

}
